<div class="container">
    <h2 class="titulo">Bienvenidos</h2>
    <div class="contenedor-texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, provident. Non consequatur rerum rem modi, vero odit sunt soluta ipsum libero? Possimus illo aliquam fugiat ad iure totam tenetur suscipit?</p> <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eveniet repudiandae consectetur sint accusamus sit beatae voluptatibus asperiores assumenda ratione autem, inventore saepe vitae voluptatum in accusantium. Ducimus, ea facere.
        Dolorem nobis fugit veniam vel nulla excepturi at tenetur, illo rem blanditiis distinctio! Maiores quos maxime corporis ullam aspernatur! Laudantium esse ipsam quos dolorem magni doloribus? Distinctio neque maxime qui! <br> <br>
        Dignissimos inventore fuga dolore consequatur vero nam consequuntur veritatis, beatae, in quisquam eaque! Delectus molestiae, error perferendis minus animi, deleniti non atque ex asperiores, beatae possimus labore architecto a! Exercitationem.
        Labore consequuntur aperiam facilis eligendi neque accusamus laboriosam, quibusdam ratione iste, iusto, fugiat asperiores esse eos accusantium exercitationem suscipit voluptate recusandae deserunt nisi? Quibusdam quae quasi molestiae omnis qui deserunt.
        Molestiae ea porro repellendus obcaecati dolorem minima sequi consequatur a ipsa asperiores in dolorum numquam pariatur laboriosam, unde autem amet iure iusto voluptate doloribus ut similique.</p>    
    </div>
    <div class="contenedor-img">
        <img src="../../../../assets/imagenes/about.png" alt="seguros" width="500" height="400" >
    </div>
    
</div>
